* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

.caixa {
    height: 100vh;
    width: 100vw;

}

header {
    color: #17233D;
    margin-top: 32px;

}

.caixa {
    height: 100vh;
    width: 100vw;
}

.section-left {
    display: inline-block;
}

.section-right {
    display: inline-block;
}

a {
    color: #17233D;
    font-size: 16px;
    font-weight: 400;
    margin: 47px 32px 0 42px;
    cursor: pointer;
}

button {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

img {
    margin-top: 100px;
    margin-left: 125px;
    width: 500px;
    height: 444px;
}

h1 {
    width: 582px;
    font-size: 62px;
    font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 400;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.button-link {
    background: none;
    color: #6FBF44;
    border: none;
}

a:hover {
    opacity: 0.4;

}

a:active {
    opacity: 0.8;
}

button:hover {
    opacity: 0.5;
}

@media screen and (max-width:900px) {


    .section-left {}

    .section-right {
        text-align: center;
        margin-top: 100px;

    }

    h1 {
        margin-top: 200px;
        width: 278px;
        font-size: 30px;
        line-height: 30px;
        margin: auto;
    }

    p {
        width: 304px;
        font-size: 20px;
        font-weight: 400;
        line-height: 33px;
        margin: 43px 43px 43px;
        letter-spacing: 0.5px;

    }

    .link {
        color: #6FBF44;
    }

    img {
        margin: 40px;
        width: 306px;
        height: 255px;
        position: absolute;
        bottom: 3px;
    }

    a {
        display: none;
    }

    button {
        position: static;
        margin-left: 270px;
    }

    .button-link {
        margin: auto;
    }
}